<% layout('layouts/boilerplate') %>
<% if (success && success.length > 0) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
<h3>All Overspeed Listings</h3>
    
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of allListings) { %>
    <a href="/admin/listings/<%=listing._id%>" class="listing-link">
        <div class="card listing-card"  >
            <img src="<%= listing.photo %>" class="card-img-top"  alt="listing image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
            <p class="card-text">
                <b><%= listing.name %></b><br>
                <%= listing.overspeeding_amount %> <br>
                <%= listing.number_plate %>
            </p>
            </div>
        </div>
    </a>   
    <% } %>
</div>






