<% layout('layouts/boilerplate') %>
<div class="container mt-5">
   
    <h3 class="text-center mb-4">All Unpaid Listings</h3>
    <% if (success && success.length > 0) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <div class="row">
        <% if (unpaidListings.length === 0) { %>
            <div class="col-12 text-center">
                <p class="text-muted">No Unpaid listings available.</p>
            </div>
        <% } else { %>
            <% unpaidListings.forEach(listing => { %>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/admin/listings/<%= listing._id %>" class="text-decoration-none">
                                <%= listing.name %>
                            </a>
                        </h5>
                        <p class="card-text">
                            <strong>Overspeeding Amount:</strong> <%= listing.overspeeding_amount %> km/h<br>
                            <strong>Number Plate:</strong> <%= listing.number_plate %><br>
                            <strong>Status:</strong>
                            <span class="card-status <%= listing.is_fine_paid ? 'status-paid' : 'status-unpaid' %>">
                                <%= listing.is_fine_paid ? 'Fine Paid' : 'Fine Unpaid' %>
                            </span>
                        </p>
                        <a href="/admin/listings/<%= listing._id %>" class="btn btn-primary">View Details</a>
                        <div>
                            <form action="/admin/pay-fine/<%= listing._id %>?_method=PUT" method="POST" class="mt-2">
                                <button type="submit" class="btn btn-danger">Pay Fine</button>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        <% } %>
    </div>
</div>